$navbar: #f33; // desktop navigation background color
$navhover: #CCC; // desktop navigation hover
$navLink: #000; // mobile link color
$navLinkHover: #CC44DD; // mobile link hover

$mobilebar: #ff0073; // mobile navigation background color
$mobilehover: #ff6598; // mobile navigation hover
$mobLink: #fff; // mobile link color
$mobLinkHover: #000;  // mobile link hover

$ham: #000; // hamburger color
$hamhover: #555; // hamburger hover
