* {
    box-sizing: border-box;
}
.nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.nav ul {
    margin: 0;
}
.nav ul#hamburger {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    cursor: pointer;
}
.nav li.mobile {
    // background-color: #333;
    margin-top: 0.4em;
    float: right;
}
li.mobile span {
    height: 0.6em;
    background-color: #000;
    display: block;
    border-radius: 4em;
    margin-bottom: 0.4em;
    width: 3em;
    vertical-align: middle;
}
.mobile-dropdown {
    background-color: #0f0;
    position: relative;
    top: 3.4em;
    width: 100%;
}
ul.mobile-nav {
    padding: 0;
    list-style-type: none;
    li {
        padding: 1em;
    }
    li:active,
    li:hover {
        background-color: #f00;
    }
    a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }
}
.desktop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: #d00;
}
.desktop ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #f00;
}
.desktop ul li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 1.6em;
    background-color: #f00;
    float: right;
    &:hover {
        background-color: #000;
    }
}
@media screen and (min-width:768px) {
    .desktop {
        display: block;
    }
    .nav {
        visibility: hidden;
    }
}
