$navbar: #f33; // desktop navigation background color
$navhover: #CCC; // desktop navigation hover
$navLink: #000; // mobile link color
$navLinkHover: #CC44DD; // mobile link hover

$mobilebar: #ff0073; // mobile navigation background color
$mobilehover: #ff6598; // mobile navigation hover
$mobLink: #fff; // mobile link color
$mobLinkHover: #000;  // mobile link hover

$ham: #000; // hamburger color
$hamhover: #555; // hamburger hover

* {
    box-sizing: border-box;
}
.nav {
  background-color: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  margin-right: 0.3em;
  border-top: 0;
  z-index: 50;
}
.nav ul {
    margin: 0;
}
.nav ul#hamburger {
    margin: 0;
    padding: 0.3em;
    list-style-type: none;
    cursor: pointer;
}
.nav li.mobile {
    margin-top: 0.4em;
    float: right;
    &:hover span{
    background-color: $hamhover; // hamburger hover
    }
}
li.mobile span {
    height: 0.6em;
    background-color: $ham; // hamburger color
    display: block;
    border-radius: 4em;
    margin-bottom: 0.4em;
    width: 3em;
    vertical-align: middle;
}
.mobile-dropdown {
    background-color: $mobilebar; // mobile navigation background color
    position: relative;
    top: 3.4em;
    width: 100%;
}
ul.mobile-nav {
    padding: 0;
    list-style-type: none;
    li {
        padding: 1em;
    }
    li:active,
    li:hover {
        background-color: $mobilehover; // mobile navigation hover
    }
    a {
        text-decoration: none;
        color: $mobLink; // mobile link color
        text-transform: uppercase;
    }
    a:hover {
      color: $mobLinkHover;  // mobile link hover
    }
}
.desktop {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}
.desktop ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: $navbar;
    text-align:center;
}
.desktop ul li {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0.05em 0;
    padding: 1.6em;
    background-color: $navbar; // desktop navigation background color
    &:hover {
        background-color: $navhover; // desktop navigation background hover
        a {
            color: $navLinkHover;
            text-decoration: underline;
          }
    }
    a {
        text-decoration: none;
        color: $navLink;
        text-transform: uppercase;
    }
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

@media screen and (min-width:768px) {
    .desktop {
        display: inline-block;
    }
    .nav {
        visibility: hidden;
    }

}
